@import url("https://fonts.cdnfonts.com/css/rasputin");

.typing-demo {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret 0.75s step-end infinite;
  font-weight: bold;
}

.signIn {
  font-size: 1.1rem;
  font-family: "Quicksand";
  color: rgb(52 32 26 / var(--tw-text-opacity));
  transition: 0.3s;
}

.signIn:hover {
  --tw-text-opacity: 1;
  color: rgb(239 222 161 / var(--tw-text-opacity));
}

.error_message {
  color: red;
  font-size: 11px;
  margin: 0px;
  padding: 0px;
  padding-left: 3px;
}

span {
  font-family: "Rasputin", sans-serif;
  font-size: 2.5rem;
  word-spacing: normal;
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #efdea1;
  }
}
