@import url("https://fonts.cdnfonts.com/css/rasputin");

.signIn {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Quicksand";
  color: rgb(52 32 26 / var(--tw-text-opacity));
  transition: 0.3s;
}

.signIn:hover {
  --tw-text-opacity: 1;
  color: rgb(239 222 161 / var(--tw-text-opacity));
}

.error_message {
  color: red;
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
  padding-left: 3px;
}
